# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS / macOS
**/Pods/
**/.symlinks/

# Misc
.DS_Store
*.log
